:root{
    --color-fondo: #ebf687;
    --font-familia:'Roboto', sans-serif;
    --color-primario:#124F88;
    --color-secundario:#F7C331;
    --color_texto-inverso:white;
    --color-texto:black;
    --color-fondo-menu: #a1d3a1;/*#E5E5E5;*/
    --color-fondo-section:	#f5deb3 ;/*#ffdead;*/
    --color-fondo-menu-celu: #3A4460;
    --color-fondo-busqueda: #e7e7e7; 	
    --color-formulario:white;
    --color-hover:#949c7c;
    --color-hover-li:#0d0e27;
    --color-fondo-boton: #bbcabd;
}

*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  background-color:   var(--color-fondo);
  font-family: var(--font-familia);
}


body{
    font-family: var(--font-familia);
    font-size: 18px;
    max-width: 100%;
    min-height: 100vh;
}

button{
    padding: 5px;
    background-color: var(--color-fondo-boton);
    font-size: 12px;
    text-align: center;
    font-weight:bold;
    color: var(--color-texto);
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }

  .navbar{
    grid-area: M;
    background-color: var(--color-fondo-menu)
}

.Seccion-1 {
    grid-area: S1;
    background-color: var(--color-fondo-section)
}

.Seccion-2 {
    grid-area: S2;
    background-color: var(--color-fondo-section)
}
.Seccion-3 {
    grid-area: S3;
    background-color: var(--color-fondo-section)
}

.Seccion-4 {
    grid-area: S4;
    background-color: var(--color-fondo-section);
}

.footer {
    grid-area: FO;
    background-color: var(--color-fondo-menu);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "M"    50px
      "S1"   80px
      "S2"   80px
      "S3"   150PX
      "S4"   150PX
      "FO"   50px;
      margin: 5px;
      overflow: hidden;
    }
  

/* MEDIAS QUERY'S */  

/*   TABLE MOBILE */   

@media (min-width: 600px) {
    .grid-container {
      grid-template:
        "M M"  50PX
        "S1 S2" 80px
        "S3 S4" auto
        "FO FO" 50px /
        50% 50%;
    }
    .Seccion-4{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}
  
  /*   DESKTOP */   
  @media (min-width: 900px) {
    .grid-container {
        grid-template:
          "M M"  50PX
          "S1 S3" 150px
          "S2 S4" auto
          "FO FO" 50px /
          20% 80%;
      }
  }
  
